{% extends 'category/layout.html.twig' %}
{% block action %}Create{%endblock%}
{% block category_content %}
{{form(form)}}
<a href="{{path('category_list')}}" class="text-primary">Return back</a>
{%endblock%}
