{% extends "layout.html.twig" %}
{% block category_active %}active{% endblock %}
{% block content %}
<a href="{{path('category_list')}}" class="text-primary">Return back</a>
<h2>Category details: {{category.label}}</h2>
<div class="card shadow-sm" style="width: 18rem;">
	<img src="/uploads/images/products/default.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title text-capitalize">{{category.label}}</h5>
		<a href="{{path('category_edit', {'id': category.id})}}" class="btn btn-secondary btn-sm">Edit</a>
		{% include "category/remove.html.twig" %}
	</div>
</div>
{% endblock %}