{% extends 'layout.html.twig' %}
{% block content %}
<a href="{{path('product_list')}}" class="text-primary">Return to list</a>
<h1>Edit product: {{product.label | capitalize}}</h1>
{{form(form)}}
{%endblock%}
