{% extends 'layout.html.twig' %}
{% block product_active %}active{% endblock %}
{% block content %}
<h2>Add new product</h2>
{{form(form)}}
<a href="{{path('category_list')}}" class="text-primary">Return back</a>
{%endblock%}