<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{% block title %}Estiam Market{% endblock %}</title>
	<link rel="icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
	{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>

<body>
	{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<h1>Estiam Market</h1>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				</ul>
				{% if app.user %}
				<a href="{{path('app_logout')}}">
					<h6 class="text-light">Logout</h6>
				</a>
				{% endif %}
			</div>
		</div>
	</nav>
	<div id="content" class="container mt-4">
		{% block nav %}{% endblock %}
		{% block content %}{% endblock %}
	</div>
	{% endblock %}
</body>

</html>